#one:hover{
    background-color: yellow;
  }
  #one{
    border-radius: 8px;
  }
  fieldset{
   border-width: 4px;
   width: 50%;
   background-color: bisque; 
   border-radius: 20px; 
  }
  h2{
    color:black;  
  }

  legend{
    color: brown;
    font-size: 22px;
    text-align: center;
  }
  label{
    color: orangered;
    font-style: italic;
    font-size: 18px;
  }
  body{
    padding-left: 30%;
    border: 2px solid black;
    
  }
  .two:hover{
    background-color: aqua;
  }
  .two{
    border-radius: 25%;
  }